body{
  font-family: 'Merienda One', cursive;
  font-size: 20px;
}


#col1{
	background-image: linear-gradient(#6ebe71, #658c67);
	height: 90px;
	margin-bottom: 20px;
}

#tr{
	color: white;
	text-align:center;
	padding-top: 20px;
	padding-left: 20px;
}
#img1{
	padding: 20px;
}

#s1{
  font-size: 20px;
    padding: 15px;
    margin-top: 15px;

}
/*form*/
* {
  box-sizing: border-box;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}
.btn-success{
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  margin-left: 415px;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
.col-40{
	float:left;
	width: 40%;
	margin-top: 6px;
}
.col-60{
	float:left;
	width: 60%;
	margin-top: 6px;
}
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}