.blue{
	/*background-color:#2ad0a9;;*/
	background-image: linear-gradient(#6ebe71, #658c67);
	height: 100px;
}
body{
  font-family: 'Merienda One', cursive;
  font-size: 20px;
}
.blue1{
	/*background-color: #2ad0a9;*/
	background-image: linear-gradient(#6ebe71, #658c67 );
	padding-top: 30px;
	padding-left: 100px;
	height: 100px;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 210px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 100px; /* Stay at the top */
  left: 0;
  background-color: #6f6a6a; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav a {
  padding: 8px 8px 30px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
#logo{
	opacity: 0.6;
	    background-repeat: no-repeat;
    background-image: url(logo2.png);
    height: -webkit-fill-available;
    background-position: center;

	
}

#x1{
	font-size: 38px;
}

h3{
color: white;
font-size: 30px;
}

h5{
	padding-left: 5px;
	color: white;
}



#pro{
	padding-top: 30px;
}

#img1{
	display: block;
   opacity: 1;
  margin-left: 10px;
}
#img1:hover{
	opacity: 1;
}

#myrow1{
  margin-left: 150px;
}

#z{
  background-image: url("green.png");
}

.centered {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
} 

#q{
  position: relative;
  text-align: center;
  color: white;
}

.modal-content .btn {
  
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  
  margin-bottom:10px;
  opacity: 0.8;
}

#bu1{
  margin-left: 10px;
}
.thumbnail:hover {
    box-shadow: 10px 10px 5px grey;
    position:relative;
    top:-22px;
    left:-11px;
    width:250px;
    height:auto;
    display:block;
    z-index:999;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.modal-content input[type=text], .modal-content input[type=number] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
 
}

.f
 {
  display: none;
  position: fixed;
  top: 200px; 
  left: 475px; 
  background-color: rgba(0,0,0,0.9);
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-popup{

  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
  
}

.modal-content{
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 40%;
  padding: 10px;
}