.blue{
	/*background-color:#2ad0a9;;*/
	background-image: linear-gradient(#6ebe71, #658c67);
	height: 100px;
}
.blue1{
	/*background-color: #2ad0a9;*/
	background-image: linear-gradient(#6ebe71, #658c67 );
	padding-top: 30px;
	padding-left: 100px;
	height: 100px;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 210px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 100px; /* Stay at the top */
  left: 0;
  background-color: #6f6a6a; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

.sidenav a {
  padding: 8px 8px 30px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
#logo{
	opacity: 0.6;
	    background-repeat: no-repeat;
    background-image: url(logo2.png);
    height: -webkit-fill-available;
    background-position: center;

	
}

#x1{
	font-size: 45px;
}
h5{
	padding-left: 5px;
	color: white;
}
h2{
	color: white;
}

#pro{
	padding-top: 30px;
}

#img1{
	display: block;
   opacity: 1;
  margin-right: auto;
}
#img1:hover{
	opacity: 1;
}