<!DOCTYPE html>
<html>
	<head>
		<link
			rel="stylesheet"
			type="text/css"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Acme"
			rel="stylesheet"
		/>
		<link
			href="https://fonts.googleapis.com/css?family=Merienda+One"
			rel="stylesheet"
		/>
		<link rel="stylesheet" type="text/css" href="css/track_home.css" />
		<title>Dashboard | TrackeX</title>
		<script src="/__/firebase/5.8.2/firebase-app.js"></script>
		<script src="/__/firebase/5.8.2/firebase-auth.js"></script>
		<script src="/__/firebase/5.8.2/firebase-firestore.js"></script>
		<script src="/__/firebase/init.js"></script>
		<script>
			function signOut() {
				firebase.auth().signOut();
				window.location = '/';
			}
			function initApp() {
				var db = firebase.firestore();
				firebase.auth().onAuthStateChanged(function(user) {
					if (user.email) {
						document.getElementById('qwe').value = user.email;
						var x = user.email;
						var sch = db.collection('sign').doc(x);
						sch.get()
							.then(doc => {
								if (doc.exists) {
									document.getElementById(
										'its'
									).innerHTML = doc.data().name;
									console.log(doc.data().name);
								} else {
									window.alert(
										'Update your profile & create a password!!'
									);
								}
							})
							.catch(err => {
								console.log(err);
							});
					} else {
						window.alert('Update your profile');
					}
				});
			}
			window.onload = initApp();
		</script>
		<style>
			h4 {
				color: white;
			}

			h3 {
				color: white;
			}

			#img1 {
				margin-left: '10px';
			}

			h2 {
				color: black;
			}
		</style>
		<script>
			function senddata() {
				$('#hi').submit();
			}
		</script>
		<% include meta.ejs %>
	</head>

	<body>
		<div class="row">
			<div class="col-md-2 blue">
				<img src="img/logo2.png" height="100px" width="100px" id="img1"
				margin-left: "10px" />
			</div>
			<div class="col-md-6 blue">
				<h4 align="left" id="x1">
					<a href="/profile">TrackeX</a>
				</h4>
				<h5 align="left">Have Expense your way!</h5>
			</div>
			<div class="col-md-4 blue1">
				<button
					type="button"
					class="btn btn-outline-info"
					onclick="signOut()"
				>
					Log Out
				</button>
			</div>
		</div>
		<div style="float: left;">
			<div class="sidenav">
				<a href="/profile" id="pro">
					<button class="btn btn-danger">Profile</button>
				</a>
				<a>
					<button class="btn btn-primary" onclick="senddata()">
						Settings
					</button>
				</a>
				<a href="/showana">
					<button class="btn btn-warning">
						Show Analysis
					</button>
				</a>
			</div>
		</div>
		<div style="float: right;">
			<h2>Hello</h2>
			<h2 id="its"></h2>
			<h2>Welcome to Trackex...Your expense tracker!</h2>
		</div>
		<form id="hi" name="justname" action="/setting">
			<input name="qwe" id="qwe" class="hidden" />
		</form>
	</body>
</html>
