<!DOCTYPE html>
<html>
	<head>
			<link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet">
			<link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet">
			
		<% include links.ejs %> <% include meta.ejs %>
		<title>TrackeX Login</title>
		<script src="/__/firebase/5.8.2/firebase-app.js"></script>
		<script src="/__/firebase/5.8.2/firebase-auth.js"></script>
		<script src="/__/firebase/init.js"></script>
		<script>
			function toggleSignIn() {
				if (firebase.auth().currentUser) {
					firebase.auth().signOut();
				} else {
					var email = document.getElementById('username').value;
					var password = document.getElementById('password').value;
					if (email.length < 12) {
						window.alert('Please enter a valid email address.');
						return;
					}
					if (password.length < 6) {
						window.alert('Please enter a valid password');
						return;
					}
					firebase
						.auth()
						.signInWithEmailAndPassword(email, password)
						.catch(function(error) {
							var errorCode = error.code;
							var errorMessage = error.message;
							if (errorCode === 'auth/wrong-password') {
								window.alert('Wrong password');
							} else if (errorCode === 'auth/user-not-found') {
								window.alert('User not found');
							} else {
								window.alert(errorMessage);
							}
						});
				}
			}
			function initApp() {
				firebase.auth().onAuthStateChanged(function(user) {
					if (user) {
						//window.alert('Already logged in!');
						window.location = '/dash';
					} else {
						window.alert('Login to continue');
					}
				});
			}
			window.onload = initApp();
		</script>
	</head>

	<body>
		<div class="header">
			<div class="col-xs-12" id="col1">
				<h3 id="tr">TrackeX</h3>
			</div>
		</div>
		<div>
			<div class="container">
				<div class="col-40">
					<img
						src="img/logo2.png"
						height="300px"
						width="250px"
						id="img1"
					/>
				</div>
				<div class="col-60">
					<div class="row">
						<h3>Login</h3>
						<div class="col-25">
							<label for="fname">Trackex ID</label>
						</div>
						<div class="col-75">
							<input
								type="text"
								id="username"
								name="username"
								placeholder="abc@trackex.com"
								minlength="5"
								autocomplete="username"
								required
							/>
						</div>
					</div>
					<div class="row">
						<div class="col-25">
							<label for="pass">Password</label>
						</div>
						<div class="col-75">
							<input
								type="password"
								id="password"
								name="password"
								placeholder="Your Password.."
								minlength="6"
								autocomplete="current-password"
								required
							/>
						</div>
					</div>
					<div class="row">
						<a href="/">
							<button
								type="button"
								class="btn btn-danger"
								id="s1"
								style="font-size: 20px;
								padding: 15px;
								margin-top: 15px;
								margin-left:250px;
							"
							>
								Cancel
							</button>
						</a>
						<button
							class="btn btn-success btn-lg"
							onclick="toggleSignIn()"
							style="        margin-top: 17px;
							margin-left: 121px;
							padding: 17px;"
						>
							Login
						</button>
					</div>
					<a href="/loginOTP">
						<button
							type="button"
							class="btn btn-info"
							id="s1"
							style="    font-size: 20px;
							padding: 18px;
							margin-top: 50px;
							margin-left: 256px;"
						>
							Login with OTP
						</button>
					</a>
				</div>
			</div>
		</div>
	</body>
</html>
