<!DOCTYPE html>
<html>

<head>
	<% include meta.ejs %>
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
		<link href="https://fonts.googleapis.com/css?family=Acme" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Merienda+One" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/setting.css" />
		<title></title>
		<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
		<script src="/__/firebase/5.8.2/firebase-app.js"></script>
		<script src="/__/firebase/5.8.2/firebase-auth.js"></script>
		<script src="/__/firebase/5.8.2/firebase-firestore.js"></script>
		<script src="/__/firebase/init.js"></script>
		<script>
			function signOut() {
				firebase.auth().signOut();
				window.location = '/';
			}
		</script>
		<script>
			function initApp() {
				var db = firebase.firestore();

				firebase.auth().onAuthStateChanged(function (user) {
					if (user) {
						document.getElementById('qwe').value = user.email;
						console.log(user);
						var x = user.email;
						document.getElementById('x').value = x;



					} else {

					}
				});
			}
			window.onload = initApp();
		</script>
</head>

<body>
	<div class="row">
		<div class="col-md-2 blue">
			<img src="img/logo2.png" height="100px" width="100px" id="img1" margin-left: "10px" />
		</div>
		<div class="col-md-6 blue">
			<h4 align="left" id="x1">
				<a href="/profile">TrackeX</a>
			</h4>
			<h5 align="left">Have Expense your way!!!</h5>
			<h6 id="x"></h6>
		</div>

		<div class="col-md-4 blue1">
			<button type="button" class="btn btn-outline-info" onclick="signOut()">
				Log Out
			</button>
		</div>
	</div>
	<div class="col-md-3">
		<div class="sidenav">
			<a href="/profile" id="pro">
				<button class="btn btn-danger btn-lg">Profile</button>
			</a>
			<a onclick="initApp()">
				<button class="btn btn-primary btn-lg">Settings</button>
			</a>
			<a href="/showana">
				<button class="btn btn-warning btn-lg">
					Show Analysis
				</button>
			</a>
		</div>
	</div>
	<div class="container" align="center" margin-top: "100px" ;>
		<br />
		<div class="row">
			<div class="col-md-6">
				<h2>Categories</h2>
			</div>
			<div class="col-md-4">
				<button type="button" class="btn btn-success" style="margin-top: 18px" onclick="openForm()">
					+ Add Category
				</button>
				<button type="button" id="del" class="btn btn-danger" style="margin-top: 18px" onclick="openDelForm()">
					- Delete Category
				</button>
			</div>
		</div>
		<br />
		<div class="row" id="myrow1">


			<% for(var i=0;i<Object.keys(obj).length;i++) { 
				 %>


				<div class="col-xs-18 col-sm-6 col-md-3">
					<div class="thumbnail">

						<img src="img/newgreen2.PNG" />
						<div class="centered">
							<h4 id="cat_head">
								<%= obj[i] %>
							</h4>
						</div>

						<div class="caption">
							<p>
								current:
								<%= obj1[i].current %>
									<br> Limit:
									<%= obj1[i].limit %>
										<br />
							</p>
							<br />
							<button type="button" class="btn" style="margin-top: 18px" onclick="openshop()">
								View Shops
							</button>

						</div>
					</div>
				</div>

				<% }%>

		</div>

		<h2 style="margin-top:100px;">Message Pattern</h2>
		</br>
		<div class="row" style="margin-left:150px;">
			<div class="col-md-4 " style="border: 3px solid green; margin-right:100px; height:450px; padding:50px; ">
				<p>Transaction:</p>
				</br>
				<p>Rs.(money)</br> debited from ATM card</br>Date:(date)</br>Main charge in your account: Rs(amount)</br>Thankyou for using
					our services!</p>
			</div>
			<div class="col-md-4 " style="border: 3px solid green; height:450px; padding:50px;">
				<p>Payment:</p>
				<p>Rs.(money)</br> debited from ATM card</br>Date:(date)</br>Main charge in your account: Rs(current)</br>Amount after payment:Rs.(amount)</br>Thankyou
					for using our services,</br>Hope you had a good experience!</br>
				</p>
			</div>

		</div>

		<div class="form-popup" id="myForm">
			<div class="modal-content">
				<h1>Add new Category</h1>

				<label for="email">
					<b>Category Name</b>
				</label>
				<input type="text" name="cat_name" id="cat_name" placeholder="Ex:Shopping" required />

				<label for="psw">
					<b>Limit</b>
				</label>
				<input type="number" id="cat_limit" placeholder="Ex:200" required />
				<div class="row" id="bu1">
					<a onclick="Addcategory()">
						<button type="submit" class="btn btn-success">Add</button>
					</a>
					<button type="button" class="btn btn-danger" onclick="closeForm()">
						Cancel
					</button>
				</div>
			</div>
		</div>

		<div class="form-popup" id="delcategory">
			<div class="modal-content">
				<h1>Remove Category</h1>
				<select id="del_cat" type="text">
					<% for(var i=0;i<Object.keys(obj).length;i++) { %>
						<option>
							<%= obj[i] %>
						</option>
						<% } %>
				</select>

				<button type="button" class="btn btn-danger" style="margin-top:20px" onclick="remove()">
					Remove
				</button>
				<button type="button" class="btn btn-success" style="margin-top:20px" onclick="closeDelForm()">
					Cancel
				</button>

			</div>

		</div>

		<div class="form-popup" id="myshop">
			<div class="modal-content">
				<h2>Shops</h2>
				List shops from db here!
				<button type="button" class="btn btn-danger" onclick="closeshop()">
					Cancel
				</button>
			</div>
		</div>

		<form id="hi" name="justname" style="visibility: hidden;">
			<input name="qwe" id="qwe">
		</form>
		<script>
			function openForm() {
				document.getElementById('myForm').style.display = 'block';
			}
			function closeForm() {
				document.getElementById('myForm').style.display = 'none';
			}
			function openshop() {
				document.getElementById('myshop').style.display = 'block';
			}
			function closeshop() {
				document.getElementById('myshop').style.display = 'none';
			}

			function openDelForm() {
				document.getElementById('delcategory').style.display = 'block';
			}
			function closeDelForm() {
				document.getElementById('delcategory').style.display = 'none';
			}

			function Addcategory() {

				var k = document.getElementById('cat_name').value;
				if (!(k.match('^[a-zA-Z]*$'))) {
					window.alert('Enter valid category name.');
					window.alert('Not updated');
					document.getElementById('myForm').style.display = 'none';
					return;
				}
				var checklim = document.getElementById('cat_limit').value;
				if (!(checklim.match('^[0-9]*$') && checklim > 0 && checklim.length > 2)) {
					window.alert('Enter valid category limit');
					window.alert('Not updated');
					document.getElementById('myForm').style.display = 'none';
					return;
				}

				var db = firebase.firestore();
				var user = firebase.auth().currentUser;
				if (user) {


					console.log(user);
					var x = user.email;
					var c = document.getElementById('cat_name').value;
					var sch = db.collection('sign').doc(x).collection('categories');


					var xyz = sch.doc(c);

					xyz.get().then(doc => {

						if (doc.exists) {
							window.alert("Category exits");
							document.getElementById('myForm').style.display = 'none';
						}
						else {

							var ob = {
								current: 0,
								limit: document.getElementById('cat_limit').value,
								date: new Date()
							};
							xyz.set(ob)
								.then(function () {
									document.getElementById('myForm').style.display = 'none';
									$("#hi").submit();

								})
								.catch(function (error) {
									window.alert("Error writing document: ", error);
								});
						}
					}).catch(err => {
						window.alert(err);
					})
				}

				else {
					window.alert("User not found");

				}
			}

			function remove() {

				var db = firebase.firestore();
				var user = firebase.auth().currentUser;
				if (user) {


					var x = user.email;
					var c = document.getElementById('del_cat').value;
					var sch = db.collection('sign').doc(x).collection('categories');


					var xyz = sch.doc(c);


					xyz.get().then(doc => {
						if (doc.exists) {
							xyz.delete().then(function () {
								window.alert("Document successfully deleted!");
								window.location.reload('/settings');

							}).catch(function (error) {
								window.alert("Error removing document: ", error);
							});

						}
						else {
							window.alert("category doesn't exist");

						}
					}).catch(err => {
						window.alert(err);
					})

					var sch1 = db.collection('sign').doc(x).collection('transaction');


					var xyz1= sch1.doc(c);	
					xyz1.get().then(doc => {
						if (doc.exists) {
							xyz1.delete().then(function () {
								window.alert("Document successfully deleted from transaction!");
								window.location.reload('/settings');

							}).catch(function (error) {
								window.alert("Error removing document: ", error);
							});

						}
						else {
							window.alert("category doesn't exist");

						}
					}).catch(err => {
						window.alert(err);
					})


				}


			}



		</script>
</body>

</html>